html{
    font-family: 'Life Savers';
    background-color: rgb(255, 255, 255);
}


body{
    color : #2a2a3f; 
}

h1{
    color : white; 
    text-align: center;
    background-color:   rgb(126, 158, 197);
    padding : 30px; 

}

fieldset{
    border-radius: 5px;
    border-color : rgb(126, 158, 197); 
    margin : 20px; 
}

legend {
    color : white;  
    background : rgb(126, 158, 197); 
    padding : 10px; 
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 2px black;
}
.upload-box {
    background: white ;
    box-shadow: 0 20px 30px rgba(31, 31, 31, 0.2);
}
input[type=file]::file-selector-button{
    color : white; 
    background : rgb(126, 158, 197);
    padding : 10px; 
    border : 2px solid rgb(126, 158, 197); 
    transition : 1s; 
    cursor: pointer;
}
input[type=file]::file-selector-button:hover{
    background-color : rgb(200, 225, 255); 
    border : 2px solid rgb(126, 158, 197); 
}
 .containerButton{
    box-shadow: 0 20px 30px rgba(0,0,0,0.2);
    border: none;
    display : flex; 
;} 

input[type="number"]{
    -moz-appearance: textfield;
    text-align: center;
    border : none;  
    color : #2a2a3f; 
    padding : 15px; 
    outline : none; 
}
input::-webkit-inner-spin-button,input::-webkit-outer-spin-button{
    -webkit-appearance:none; 
    margin : 0; 
}
.containerButton button {
    padding: 15px;
    color :rgb(126, 158, 197); 
    border: none;
    background-color: white;
    cursor: pointer; 
}
#conteneur2>*{
    margin : 10px; 
    padding : 10px; 
}

#soumettreid{
    margin : 10px; 
    padding : 10px; 
    border :none; 
    border : 2px solid rgb(96, 153, 222); 
    transition : ease-out 0.4s ; 
    outline: none;
    background-color: white;
}
#soumettreid:hover{
    cursor: pointer;
    background-color: rgb(96, 153, 222) ;
    border : 2px solid white; 
    color : white; 
}
#identifiantbdd{
    resize: none;
    overflow : hidden; 
    border: 1px solid rgb(126, 158, 197); 
    border-radius: 10px;
    outline: none; 
    transition: 1s;
}
#identifiantbdd:hover{
    background-color: rgb(210, 218, 230);
}

#conteneur3{
    display : flex; 
    justify-content: space-around;
    margin : 20px; 
    align-items: center ;
}
#alignement {
    padding : 10px; 
    margin : 10px; 
}
#alignement > input {
    margin : 10px; 
    padding : 10px; 
    border :none; 
    border : 2px solid rgb(96, 153, 222); 
    transition : ease-out 0.4s ; 
    outline: none;
    background-color: white;
}
#alignement > input:hover {
    padding : 20px; 
    cursor: pointer;
    background-color: rgb(96, 153, 222) ;
    border : 2px solid white; 
    color : white; 
 
}


#MatchMismatchGap{
    order : -1; 
}
#matrice {
    padding : 20px; 
}
input[type="checkbox"]{
    cursor : pointer; 
    transition : ease-in 0.2s; 
}
#matrice label {
    color :rgb(96, 153, 222); 
    font-weight: bold ;
} 
input[type="checkbox"]:hover{
    border :3px solid rgb(96, 153, 222); 
    transform: scale(1.4);
}
input[type="checkbox"]:checked{
    accent-color: rgb(96, 153, 222);
}
textarea{
    resize: none;
    overflow : hidden; 
    border: none; 
    border-radius: 10px;
    padding: 10px; 
    outline: none; 
    transition: 1s;
}
textarea:hover {
    background-color: rgb(210, 218, 230);
}
textarea:focus{
    border : 2px solid rgb(96, 153, 222); 
}

select {
    background: rgb(254, 254, 254); 
    border : 2px solid rgb(96, 153, 222); 
    outline : none; 
    cursor : pointer; 
    transition : 1s; 
    border-radius: 10px ;
    padding : 5px; 
}

option:hover{
    cursor : pointer ; 
    background-color :rgb(96, 153, 222);
    color : white; 
}
